.char-sheet {
	width: 100%;
	padding: 0.7rem;
	box-sizing: border-box;
}

.top-block {
	padding: 0.3rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	p {
		min-width: 6rem;
		text-align: center;
	}
}

li {
	list-style: none;
}

.ability-scores {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	li {
		// background: url("../../assets/sheild.jpg");
		border: 1px solid black;
		padding: 0.5rem 0;
		min-width: 7rem;
		flex: 1;
		text-align: center;
	}
}

.throws,
.skills {
	margin-top: 1rem;
	display: grid;

	li {
		display: flex;
		justify-content: space-between;
		width: 40%;
	}
}

@media screen and (min-width: 30rem) {
	.ability-scores {
		flex-wrap: nowrap;
		justify-content: start;

		li {
			min-width: 4rem;
			max-width: 5rem;
		}
	}
}
